@font-face {
	font-family: "Value";
	src: url(/fonts/Value.woff2) format("woff2");
}

@font-face {
	font-family: "Young Serif";
	src: url(/fonts/youngserif-regular-webfont.woff2) format("woff2");
}

* {
	transition: 0.5s;
}

body {
	cursor: url(../img/cur.svg), auto;
}

* a:hover,
section a:hover {
	cursor: url(../img/cur-hover.svg), auto;
}

body {
	height: 100%;
	background-color: #2d2e31 !important;
	overflow-x: hidden !important;
}

/*3E6D8E*/
#swup {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

h1,
h3 {
	font-family: Young Serif, serif;
	color: #fff !important;
}

h2 {
	font-family: Value, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

p,
a,
a p {
	font-family: Value, sans-serif;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

/* Basic media queries */

.mob {
	display: block;
}

.desk {
	display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	p {
		font-size: 16px !important;
	}

	.mob {
		display: block !important;
	}

	.desk {
		display: none !important;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	p,
	li {
		font-size: 20px !important;
	}

	.mob {
		display: none;
	}

	.desk {
		display: block;
		/* .social-links margin-left: 70px; */
	}

	.navbar .navbar-collapse {
		padding-right: 13rem;
	}

	.navbar {
		position: unset !important;
	}
}

/*---------------------
  Viewport Black Border
-----------------------*/

@media only screen and (min-width: 992px) {
	.hero-banner h1 {
		font-size: 77px !important;
		/* filter: drop-shadow(-5px 5px 0px #000); */
	}

	nav {
		top: 7px;
	}

	#top,
	#bottom,
	#left,
	#right {
		background: #fff;
		position: fixed;
		z-index: 9999;
	}

	#left,
	#right {
		top: 0;
		bottom: 0;
		width: 7px;
	}

	#left {
		left: 0;
	}

	#right {
		right: 0;
	}

	#top,
	#bottom {
		left: 0;
		right: 0;
		height: 7px;
	}

	#top {
		top: 0;
	}

	#bottom {
		bottom: 0;
	}
}

/*---------------------
  Helper CSS
-----------------------*/
.spad {
	padding-top: 60px;
	padding-bottom: 110px;
}

.section-title h2 {
	display: inline-block;
	position: relative;
	margin-bottom: 110px;
	padding-bottom: 2px;
	line-height: normal;
}

.section-title h2:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #40424a;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
}

/*------------------------
    Nav
--------------------------*/
nav {
	justify-content: flex-end !important;
	filter: none !important;
}

.navbar {
	background-color: #2d2e31;
	position: fixed !important;
	width: 100%;
	z-index: 999 !important;
}

.navbar .navbar-brand {
	font-weight: 500;
	color: #fff !important;
	font-size: 22px !important;
}

.show {
	animation-name: nav-scroll;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes nav-scroll {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.nav-name {
	color: #fff;
	font-size: 20px;
}

.navbar .nav-text {
	color: #fff;
	font-weight: 500;
}

.mob .nav-item a {
	color: #fff;
	font-size: 24px;
}

.desk .nav-link {
	color: #fff;
	font-size: 18px;
}

.navbar .nav-item a:hover {
	color: #fff;
	opacity: 0.5;
}

.navbar li a {
	font-family: YoungSerif;
	/*    filter: drop-shadow(-2px 2px 1px #000);*/
	transition: 0.3s;
}

.navbar hr {
	color: #fff;
}

.disabled {
	color: #cacaca !important;
}

.social-links p {
	padding: 5px;
	font-size: 32px;
	color: #fff;
	transition: 0.3s;
}

.social-links h4 {
	font-size: 20px !important;
	color: #fff !important;
	font-weight: 500;
}

.social-links p a {
	color: #fff;
	font-weight: 500;
}

.social-links:hover p :not(.slash) {
	opacity: 0.5;
	transition: 0.3s;
}

.social-links p:hover :not(.slash) {
	opacity: 1 !important;
	cursor: url(../img/cur-hover.svg), auto;
}

.social-links {
	display: flex;
	justify-content: center;
}

.hero-banner .social-links a {
	font-family: Value;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	padding: 10px;
	letter-spacing: 2px;
	opacity: 1;
}

/*------------------------
      Hero Landing
--------------------------*/

.hero-banner {
	position: relative;
	/* top: 150px; */
	margin-top: 100px !important;
}

.hero-banner h1 {
	color: #fff;
	font-size: 50px;
}

.hero-banner h2 {
	opacity: 0.5;
	font-weight: 400;
}

/* Arrow */
.arrow {
	text-align: center;
	margin-top: 15px;
}

.arrow a {
	color: #fff !important;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	60% {
		transform: translateY(-15px);
	}
}

/*------------------------
      Projects Section
--------------------------*/

.project-bg {
	position: relative;
	transition: 0.5s;
	padding-bottom: 40px;
	border-bottom: 4px solid #fff;
}

.project-bg:hover img:not(#cody-mock) {
	top: -10px;
}

.project-bg:hover h3 {
	text-decoration: underline;
}

.project-copy {
	padding-top: 50px;
}

.project-bg h3 {
	transition: 1s;
	font-size: 50px;
	transition: 1s;
	color: #fff;
}

.project-bg h2 {
	font-size: 20px;
	font-style: italic;
	opacity: 0.5;
	color: #fff;
}

.project-bg img {
	position: relative;
	top: 0;
	filter: drop-shadow(-11px 14px 20px rgba(0, 0, 0, 0.7));
	transition: filter ease 0.5s;
	transition: top ease 0.5s;
	/*border: 5px solid #000;*/
	border-radius: 12px;
	height: 26vh;
}

.project-bg #cody-mock {
	filter: none;
}

.project-bg .skill-pill {
	display: inline;
	font-family: Young Serif, serif;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 8rem;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	margin: 10px;
}

.project-bg img {
	display: block;
	margin: 0 auto;
	max-height: 25rem;
	height: auto;
}

.project-bg .ladder img {
	display: block;
	margin: 0 auto;
	max-height: 15rem;
	height: auto;
	filter: none;
}

.purple-frame {
	background-color: #2d2e31;
}

.green-frame {
	background-color: #2d2e31;
}

.grey-frame {
	background-color: #2d2e31;
}

.brown-frame {
	background-color: #2d2e31;
}

.red-frame {
	background-color: #2d2e31;
}

.blue-frame {
	background-color: #2d2e31;
}

/*2d9f9d*/
.orange-frame {
	background-color: #2d2e31;
}

.light-blue-frame {
	background-color: #2d2e31;
}

.project-header h1:hover,
.project-bg img:hover {
	cursor: url(../img/cur-hover.svg), auto;
}

#cody-mock {
	height: auto;
}

@media only screen and (min-width: 992px) {
	.project-bg {
		/*border-radius: 12px;*/
	}

	/*.project-bg:hover {
        filter: drop-shadow(-11px 14px 0px rgb(255, 255, 255, .3));
    }*/
}

/*------------------------
    Work / Projects Page
--------------------------*/

.work-hero .project-bg {
	margin-top: 7rem;
	z-index: 100;
}

.work-hero .project-bg img {
	border: 0px;
	border-radius: 0px;
	top: 0px;
}

.work-hero .project-bg img:hover {
	top: 0px;
	cursor: inherit;
}

.work-hero .project-bg h1 {
	font-size: 32px;
}

.work-hero .project-bg h2 {
	font-size: 15px;
}

.work-hero .project-bg:hover h1 {
	text-decoration: none;
}

.work-hero .project-bg:hover {
	filter: none;
}

.work-hero .fort-hero-header {
	margin-top: 10rem;
}

.work-hero .fort-hero-header hr {
	width: 10%;
}

.project-stats .fa-circle {
	font-size: 5px;
	padding-bottom: 5px;
}

.work-overview .project-stats .stat {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.work-overview .project-stats .stat h3,
.work-overview .project-stats .stat h2 {
	color: #fff;
	font-size: 16px;
	display: inline;
}

.work-overview .project-stats .stat h3 {
	font-weight: 100;
}

.work-overview .project-stats .stat h2 {
	font-weight: 500;
}

.work-overview .project-stats .stat h3 a {
	text-decoration: underline;
	color: inherit;
	transition: 0.3s;
}

.work-overview .project-stats .stat h3 a:hover {
	opacity: 0.5;
}

.work-overview {
	margin-top: 1rem !important;
}

/* Image Modals */
.modal-content {
	background-color: transparent !important;
}

.modal-caption p {
	font-style: italic;
	opacity: 0.5;
}

.bi-x-circle {
	font-size: 30px;
	transition: 0.3s;
}

.img-modal a img {
	transition: 0.3s;
	position: relative;
	top: 0rem;
	border-radius: 12px;
}

.img-modal a img:hover {
	cursor: url(../img/cur-hover.svg), auto;
	top: -0.5rem;
}

.bi-x-circle:hover {
	color: #fff;
	background-color: #000;
	cursor: url(../img/cur-hover.svg), auto;
}

/*Spacing Between Hero and copy*/
.related-work .project-bg img {
	border: 0px;
	filter: none;
}

.work-challenges {
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 100;
}

.work-challenges h3 {
	font-size: 1.75rem;
}

.work-challenges a {
	transition: 0.3s;
}

.work-challenges a:hover {
	color: #fff;
	opacity: 0.5;
}

.work-challenges ul li {
	color: #fff;
	font-family: Value;
	list-style: disc;
}

.work-challenges .work-numbers {
	list-style: none !important;
}

.work-challenges ul {
	padding-left: 2rem;
}

.related-work {
	justify-content: center;
}

.related-work h3 {
	font-size: 21px;
	padding-top: 10px;
}

.related-work p {
	font-size: 16px !important;
}

.related-work .related-work-card :is(a:hover, p:hover, h1:hover, img:hover) {
	cursor: url(../img/cur-hover.svg), auto;
}

.related-work .related-work-card:hover h3 {
	text-decoration: underline;
}

.related-work img:hover {
	filter: none;
}

.related-work .related-work-card img {
	z-index: 100;
	position: relative;
	border-radius: 12px;
	width: 100%;
	height: auto;
	transition: 0.3s !important;
	top: 0rem;
}

.related-work .related-work-card:hover img {
	top: -0.5rem;
}

hr {
	height: 2px !important;
	color: #fff !important;
	width: 70%;
	margin: auto !important;
	margin-top: 20px !important;
}

.vl {
	border-left: 2px solid #fff;
	height: 10rem;
	margin-top: 2rem;
	opacity: 0.25;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	hr {
		width: 100%;
	}

	.work-overview .project-stats {
		border-radius: 12px;
		margin-left: 8px !important;
	}

	.hero-banner .social-links a {
		font-size: 20px;
	}

	.fort-hero-header h1 {
		font-size: 69px !important;
	}

	.project-bg h1 {
		font-size: 56px;
	}

	.project-bg {
		padding-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.project-bg .skill-pill {
		width: 10rem;
	}

	.project-bg img {
		height: auto;
	}

	.work-hero .project-bg h1 {
		font-size: 77px;
	}

	.work-hero .project-bg h2 {
		font-size: 20px;
	}

	.work-overview .project-stats h3,
	.work-overview .project-stats h2 {
		font-size: 18px !important;
	}

	.work-overview {
		margin-top: 3rem !important;
	}

	/*Spacing Between Hero and copy*/
	.work-overview .project-stats .stat {
		margin-top: 25px !important;
		display: block;
		margin-left: inherit;
		margin-right: inherit;
	}

	/*Spacing Between each stat*/
}

/*------------------------
      Links Page
--------------------------*/
.links-hero-img img {
	border-radius: 300px;
	border: 4px solid #fff;
}

.links-hero .hero-copy li {
	font-family: Value;
	font-weight: 500;
	font-size: 1.25rem;
	color: #fff;
}

.social-icons a i {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	transition: 0.3s;
}

.social-icons a img {
	transition: 0.3s;
	padding-bottom: 1rem;
}

.social-icons a i:hover,
.social-icons a img:hover {
	opacity: 0.5;
	cursor: url(../img/cur-hover.svg), auto;
}

.link-buttons {
	padding-left: 39px;
	padding-right: 39px;
}

.link-buttons button {
	text-align: left;
	margin-top: 5px;
	background-color: transparent;
	color: #fff;
	border: 3px solid #fff;
	padding: 10px;
	transition: 0.3s;
	font-family: Value;
	font-weight: 600;
	font-size: 20px;
	width: 100%;
}

.link-buttons button:after {
	position: absolute;
	content: "";
	top: 1.5rem;
	right: 55px;
	width: 0;
	height: 0;
	display: inline-block;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #fff;
	border-right: 10px solid transparent;
	transition: 0.3s;
}

.link-buttons button:hover:after {
	right: 45px;
}

.setup .setup-header {
	font-size: 1.25rem !important;
	opacity: 0.75 !important;
}

.setup hr {
	width: 100%;
}

.setup .setup-subheader {
	display: inline-flex;
}

.setup .setup-subheader a {
	margin-left: 10px;
	color: #fff;
	transition: 0.3s;
}

.setup .setup-subheader a:hover,
.setup .setup-copy a:hover {
	opacity: 0.5;
}

.setup .setup-subheader i {
	margin-top: 0.3rem;
	color: #fff;
}

.setup .setup-copy {
	opacity: 0.75;
	padding-left: 29px;
}

.setup .setup-copy a {
	color: #fff;
	transition: 0.3s;
	text-decoration: underline;
	font-weight: bold;
}

.bi {
	margin-top: 0 !important;
}

@media only screen and (min-width: 992px) {
	.links-hero .hero-copy li {
		font-size: 2rem;
	}

	.links-hero-img img {
		border-radius: 12px;
		border: 7px solid #fff;
	}
}

/*------------------------
      About Page
--------------------------*/
.about-hero,
.misc-cards {
	padding-top: 5rem;
}

.about-header h1 {
	color: #fff;
	/*filter: drop-shadow(-3px 4px 0px #000);*/
}

.about-copy .social-links {
	justify-content: left;
	padding: 0px !important;
}

.card {
	background-color: transparent !important;
}
.card-img-top {
	border-radius: 4px;
}
.misc-cards .card {
	margin-top: 1rem;
	transition: 0.3s;
	top: 0rem;
}

.misc-cards .card:hover {
	top: -0.5rem;
}
.misc-cards a:hover {
	cursor: url(../img/cur-hover.svg), auto !important;
}
a {
	cursor: url(../img/cur-hover.svg), auto !important;
}

.card .card-body p {
	line-height: 21px;
	font-size: 17px !important;
}

.about-self img {
	border-radius: 12px;
	border: 7px solid #fff;
}

.misc-cards .card-container {
	width: 22rem;
}

.misc-cards .card-container iframe {
	display: block;
	width: 100%;
}

a .spline-watermark {
	display: none !important;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.about-hero {
		padding-top: 10rem;
	}

	.misc-cards .card-container {
		width: 25vw;
	}

	.side-cards {
		width: auto !important;
	}
	#card-container-2 {
		margin-top: -4rem;
	}

	#card-container-3 {
		margin-top: -8rem;
	}

	.link-buttons {
		padding-left: 15px;
		padding-right: 12px;
	}
}

/*------------------------
      Footer
--------------------------*/

.footer-copy h1 {
	font-family: Young Serif;
	font-size: 28px;
	color: #fff;
}

.footer-copy :is(h2, h4) {
	font-family: Value;
	font-size: 20px !important;
	color: #fff !important;
	font-weight: 500;
}

.footer-copy p {
	font-size: 15px !important;
}

.footer-copy a {
	color: #cacaca;
	transition: 0.2s;
}

.report a {
	color: #cacaca;
	font-size: 15px;
	transition: 0.3s;
}

.report a:hover,
.footer-copy a:hover {
	opacity: 0.5;
}

/*------------------------
    Return to Top
--------------------------*/

#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	border: 3px solid #fff;
	background-color: #fff;
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 999;
}

#return-to-top i {
	color: #000;
	margin: 0;
	position: relative;
	left: 13px;
	top: 12px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	background: rgba(0, 0, 0, 0.9);
	cursor: url(../img/cur-hover.svg), auto;
}

#return-to-top:hover i {
	color: #fff;
	top: 5px;
	cursor: url(../img/cur-hover.svg), auto;
}

button:hover,
svg:hover,
path:hover {
	cursor: url(../img/cur-hover.svg), auto;
}

.line {
	fill: none;
	stroke: #fff;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}
